@inject NavigationManager navManager

@page "/testpage"
@page "/testpage2"
@page "/testpage/demo"
@page "/testpage/{contactName}/{Age:int}"



<h3>Test Page Directive</h3>

<br />
<a href="./index">Index</a>
<br />
<br />
<button @onclick="NavigateToIndex">Navigate to Index</button>

<br />
<br />
<span>@contactName's Age is @Age</span> 

@code {
    [Parameter]
    public string contactName { get; set; }

    [Parameter]
    public int Age { get; set; }

    private void NavigateToIndex()
    {
        navManager.NavigateTo("./index");
    }
}
