

<p>Name : <b>@contact.FirstName @contact.LastName</b> </p>
<p>Email : <b>@contact.Email</b> </p>


@code {

    [Parameter]
    public ContactModel contact { get; set; }
    //[Parameter]
    //public string FirstName { get; set; }

    //[Parameter]
    //public string LastName { get; set; }

    //[Parameter]
    //public string Email { get; set; }
}
